/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 


.card-container {

  display: flex;
  gap:  10px; /* espaço entre os cards */
  padding: 16px;
  flex-wrap: wrap;
  justify-content: center;
  
}



.card {

  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,6);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 6);
  padding: 16px;
  transition: transform 0.2s;
  font-family: "Permanent Marker";
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
 
}

.form-card{
  display: flex;
  flex-direction: column;
  align-content: center;


  padding: 11px;
  height: 100%;
  width: 35%;
 
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
  border: 0px;
  border-radius: 10px;

  
}

.form-card-title{
  appearance: none;
  border: none;
  background: none;
  font-size: 2.5vh;
  margin: 1vh;
}

.autoresize{
  appearance: none;
  border: none;
  background: none;
  margin: 1vh;

}



.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
}

.appbar {
  height: 4rem; /* define uma altura menor para o header */
  padding: 10 20px; /* ajusta o espaçamento interno horizontal */
  display: flex;
  align-items: center; /* centraliza os itens verticalmente */
  justify-content: flex-start;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.6);
  margin-bottom: 30px;
  background-color: #f7d736;
}

.logo{
  max-height: 50px;
  margin-top: 10px;
}


.card-title{

  font-weight: bold;
  font-family: "Permanent Marker";
  margin-bottom: 5px;

}

.card-content{
  display: flex;

  flex-wrap: wrap;
  
  justify-content: center;
  align-self: center;
}

.card-color-1{
  background-color:#a2dab5;
}

.card-color-2{
  background-color:#FF6F6F;
}

.card-color-3{
  background-color:#AFCBFF;
}

.card-color-4{
  background-color:#FFF68F ;
}

.card-color-5{
  background-color:#F8F5E6;
}

.card-rotation-1 {
  transform: rotate(-7deg);
}

.card-rotation-2 {
  transform: rotate(-6deg);
}

.card-rotation-3 {
  transform: rotate(-5deg);
}

.card-rotation-4 {
  transform: rotate(-4deg);
}

.card-rotation-5 {
  transform: rotate(-3deg);
}

.card-rotation-6 {
  transform: rotate(3deg);
}

.card-rotation-7 {
  transform: rotate(4deg);
}

.card-rotation-8 {
  transform: rotate(5deg);
}

.card-rotation-9 {
  transform: rotate(6deg);
}

.card-rotation-10 {
  transform: rotate(7deg);
}





